/* navbar */
.navbarr {
  background-color: #bcfd49;
  color: #000; /* Changed text color to black */
  padding: 0.15rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  text-decoration: none;
  background-color: #bcfd49;
}

.nav a {
  text-decoration: none;
  color: #131313; /* Blue color for links */
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* .nav a:hover {
  background-color: #555;
} */

@media (max-width: 768px) {
  .nav {
    align-items: flex-start;
    flex-direction: row;
  }
  
  .nav a {
    margin: 5px 0;
    padding: 10px;
  }
}


/* formdata */

/* src/components/FormDataList.css */
/* Update table styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px; /* Rounded corners for the table */
}

/* Styling for table header and data cells */
th, td {
  padding: 8px;
  border: 1px solid #12a807;
}

/* Background color for table header */
th {
  background-color: #92f48b;
}

/* Light green background color for table rows */
tr {
  background-color: #f0fff0; /* Light green color */
}

/* Styling for input and select elements */
input, select {
  width: 100%;
  box-sizing: border-box;
}

/* Styling for buttons */
button {
  padding: 6px 12px;
  margin-top: 5px;
  cursor: pointer;
}
